<div  class="heading">
    <button type="button" id="nav-btn" class="fa fa-toggle-on fa-2x btn-heading" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-hidden="true">
    </button>
    <img class="img-circle img-responsive profile-img-heading" src="../assets/images/profile_pic.jpg">
    <div class="extended-profile">
        <img class="img-responsive profile-img-extended" src="../assets/images/profile_pic.jpg">
        <ul>
            <li><a href="#">Link to profile page</a></li>
            <li>info about profile</li>
        </ul>
    </div>
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        {{#category}}
            <li><a href="#">{{category}}</a></li>
        {{/category}}
        <li><a href="#">{{title}}</a></li>
    </ol>
    <script src="../assets/javascripts/data/heading/heading-button.js"></script>
    <script src="../assets/javascripts/data/heading/show-profile.js"></script>
    <script>new Pjax([".breadcrumb"],".content-wrapper",".pjax-loading-container")</script>
</div>