<nav class="navbar navbar-inverse navbar-side collapse in" id="myNavbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand hide-small-nav" href="#">Brand</a>
            <a class="navbar-brand hide-big-nav"><span class="glyphicon glyphicon-bitcoin"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
            <li class="active"><a class="hide-small-nav" href="..\public\index.html">Home<span class="sr-only">(current)</span></a>
            <a class="hide-big-nav" href="..\public\index.html"><span class="glyphicon glyphicon-bed"></span></a> </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hide-small-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tables<span class="caret"></span></a>
                <a href="#" class="dropdown-toggle  hide-big-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-adjust"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu small-nav-drop">
                    <li><a href="..\public\statictables.html" class="hide-small-nav">Static Tables</a>
                        <a href="..\public\statictables.html" class="hide-big-nav"><span class="glyphicon glyphicon-bed"></span></a>
                    </li>
                    <li><a href="..\public\tablesaw.html" class="hide-small-nav">Table Saw</a>
                        <a href="..\public\tablesaw.html" class="hide-big-nav"><span class="glyphicon glyphicon-bed"></span></a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hide-small-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Charts<span class="caret"></span></a>
                <a href="#" class="dropdown-toggle  hide-big-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-adjust"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="..\public\chartjs.html" class="hide-small-nav">Chartjs</a>
                        <a href="..\public\chartjs.html" class="hide-big-nav"><span class="glyphicon glyphicon-bed">Chartjs</span></a>
                    </li>
                    <li><a href="..\public\sparklinecharts.html" class="hide-small-nav">Inline Sparkline Charts</a>
                        <a href="..\public\sparklinecharts.html" class="hide-big-nav"><span class="glyphicon glyphicon-bed">Inline Sparkline Charts</span></a>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div><!-- /.container-fluid -->
</nav>