<div class="panel panel-default">
    <div class="panel-heading">Pie Chart</div>
    <div class="panel-body">
        <canvas id="pieChart" width="250" height="150"></canvas>
    </div>

    <script src="../assets/javascripts/data/charts/chartjs/pieChart.js"></script>
</div>
