<div class="panel panel-default">
    <div class="panel-heading">Radar Chart</div>
    <div class="panel-body">
        <canvas id="radarChart" width="250" height="150"></canvas>
    </div>

    <script src="../assets/javascripts/data/charts/chartjs/radarchart.js"></script>
</div>
