.content-wrapper {
  margin-left: $navbar-side-width;
  padding-left: 15px;
  transition: margin-left 0.5s;
  @media (max-width: $grid-float-breakpoint) {
    margin-left: $navbar-side-small-width;
    padding-left: 10px;
    transition: margin-left 0.5s;

  }
}
