.heading {
  margin-left: -30px;
  background-color: goldenrod;
  height: 60px;
  width: 105%;
  margin-bottom: 10px;

  @media (max-width: $grid-float-breakpoint) {
    width: 125%;
  }
}

.btn-heading {
  @include button-variant($btn-default-color, goldenrod, $btn-default-border);
  margin-top: 10px;
}