.navbar-side {
  &.navbar {
    width: $navbar-side-width;
    height: 100vh;
    position: fixed;

    .navbar-header {
      float: none;

      a {
        &:nth-child(2) {
          display: none;
        }
      }
    }

    .navbar-nav > li {
      float: none;

      a {
        &:nth-child(2){
          display: none;
        }
      }
    }
    .navbar-nav {
      width: 245px;
      margin: 7.5px -15px;
    }

    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
    }

    .navbar-nav > li > .dropdown-menu {
      margin-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .navbar-form {
      margin-left: -15px;
      margin-right: -15px;
      padding: 10px 15px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .navbar-collapse {
      margin-left: -15px;
      margin-right: -15px;
      .navbar {
        width: $navbar-side-small-width;
      }
    }
    .navbar-toggle {
      display: inline;
    }
    @media (max-width: $grid-float-breakpoint) {
      width: $navbar-side-small-width;
      border-radius: $navbar-border-radius;

      .navbar-header {
        float: none;

        a {
          &:nth-child(1){
            display: none;
          }
          &:nth-child(2){
            display: inline;
          }
          }
        }
      .navbar-nav > li {
        a {
          &:nth-child(1){
            display: none;
          }
          &:nth-child(2){
            display: inline;
          }
        }

      }
    }
  }
  &.navbar-inverse {
    .dropdown-menu > li > a {
      color: $navbar-inverse-color;

    }
    .divider {
      background-color: $navbar-inverse-border;
    }
  }
  &.open {
    &.navbar {
      width: $navbar-side-small-width;
      border-radius: $navbar-border-radius;

      .navbar-header {
        float: none;

        a {
          &:nth-child(1){
            display: none;
          }
          &:nth-child(2){
            display: inline;
          }
        }
      }
      .navbar-nav > li {
        a {
          &:nth-child(1){
            display: none;
          }
          &:nth-child(2){
            display: inline;
          }
        }

      }
    }
    @media (max-width: $grid-float-breakpoint) {
      &.navbar {
        display: none;

      }
    }
  }
}

