.navbar-side {
	&.navbar {
		transition: width 0.4s;
		transition-timing-function: ease-out;
		display: block;
		height: $navbar-side-height;
		position: fixed;
		border-radius: $navbar-border-radius;
		z-index: 1000;
		width: $navbar-side-small-width;

		.hide-small-nav {
			transition: width 0.4s;
			transition-timing-function: ease-out;
			width: 0;
			display: none;
		}

		.hide-big-nav {
			transition: width 0.4s;
			transition-timing-function: ease-out;
			width: $navbar-side-small-width - 2px;
			display: block;
		}

		.navbar-header {
			float: none;
		}

		.navbar-nav > li {
			float: none;
		}

		.navbar-nav {
			transition: width 0.4s;
			transition-timing-function: ease-out;
			width: $navbar-side-small-width - 2px;
			margin: 7.5px -15px;
		}

		.dropdown-menu {
			position: static;
			float: none;
			width: auto;
			min-width: 0px;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			box-shadow: none;
		}

		.navbar-nav > li > .dropdown-menu {
			margin-top: 0;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}

		.divider {
			width: $navbar-side-width - 2px;
		}

		.navbar-form {
			margin-left: -25px;
			margin-right: -15px;
			padding: 10px 15px;
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
			margin-top: 8px;
			margin-bottom: 8px;
			transition-property: all;
		}
		.form-control {
			width: $navbar-side-small-width - 10px;
			margin-bottom: 2px;
			transition-property: all;
			transition-duration: 0.7s;
			transition-timing-function: ease-out;
		}

		&.navbar-inverse {
			.dropdown-menu > li > a {
				color: $navbar-inverse-color;
				&:hover,
				&:focus {
					color: $navbar-inverse-link-hover-color;
					background-color: $navbar-inverse-link-hover-bg;
				}

			}
			.divider {
				background-color: $navbar-inverse-border;
			}
		}

		+ .content-wrapper {
			transition: width 0.4s, margin 0.4s, padding 0.4s;
			transition-timing-function: ease-out;
			margin-left: $navbar-side-small-width;
			padding-left: 5px;
		}

		&.collapse {
			&:not(.in) .open .dropdown-menu {
				&.popup-dropdown {
					position: absolute;
					min-width: $navbar-side-width;
					top: 0;
					left: $navbar-side-small-width - 5px;
					background-color: $navbar-default-bg;
					border: 1px solid $navbar-default-border;
					border-radius: 4px;
					box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

					.divider {
						width: $navbar-side-width - 2px;
					}

					li > a {
						color: $navbar-default-link-color;
						width: auto;

						&:hover {
							color: $navbar-default-link-hover-color;
							background-color: $navbar-default-link-hover-bg;
						}
					}
				}
			}

			&.in {
				width: $navbar-side-width;

				.hide-big-nav {
					width: 0;
					display: none;
				}

				.hide-small-nav {
					width: $navbar-side-width - 2px;
					display: block;
					visibility: visible;
				}

				.navbar-header {
					width: $navbar-side-width - 2px;
				}

				.navbar-nav {
					width: $navbar-side-width - 2px;
				}

				.navbar-nav > li > .dropdown-menu {
					margin-top: 0;
					border-top-right-radius: 0;
					border-top-left-radius: 0;
				}
				.navbar-form {
					margin-left: -15px;
				}
				.divider {
					width: $navbar-side-width - 2px;
				}
				.form-control {
					width: $navbar-side-width * 0.75;
				}

				+ .content-wrapper {
					margin-left: $navbar-side-width;
					padding-left: 15px;
				}
			}

		}

		&.collapsing {
			width: ($navbar-side-small-width+$navbar-side-width) / 2;
			transition-timing-function: ease-in;

			.hide-small-nav {
				width: ($navbar-side-small-width+$navbar-side-width) / 2 - 100px;
				transition-timing-function: ease-in;
				display: inline;
				visibility: hidden;
				position: absolute;
			}

			.hide-big-nav {
				width: ($navbar-side-small-width+$navbar-side-width) / 2;
				transition-property: all;
				transition-timing-function: ease-in;
				display: inline;
				padding: 15px ($navbar-side-small-width+$navbar-side-width)/2-60 15px 15px;
			}

			.navbar-nav {
				width: ($navbar-side-small-width+$navbar-side-width) / 2;
				transition-timing-function: ease-in;
				li {
					padding: 15px 0;
				}
			}

			.navbar-header {
				.hide-small-nav {
					display: none;
				}
			}

			.navbar-form .form-group{
				display: block;
			}

			+ .content-wrapper {
				margin-left: ($navbar-side-small-width+$navbar-side-width) / 2;
				transition-timing-function: ease-in;
				padding-left: 7.5px;
			}
		}

		@media (max-width: $grid-float-breakpoint) {

			width: 0px;
			height: 0px;

			.navbar-header {
				display: none;
			}
			.navbar-nav {
				display: none;
			}
			.navbar-form {
				display: none;
			}


			.form-control{
				width: 0;
			}

			.btn {
				width: 0;
				transition: width 0.4s;
				transition-timing-function: ease-out;
			}

			+ .content-wrapper {
				margin-left: 0px;
				padding-left: 0px;
			}

			&.collapse {
				&.in {

					width: $navbar-side-small-width;

					.hide-small-nav {
						display: none;
					}

					.hide-big-nav {
						width: $navbar-side-small-width - 2px;
						display: block;
					}

					.navbar-header {
						display: block;
						width: $navbar-side-small-width - 2px;
					}

					.navbar-nav > li {
						width: $navbar-side-small-width - 2px;
					}
					.navbar-nav {
						width: $navbar-side-small-width - 2px;
						display: block;
					}

					.navbar-form {
						display: block;
						margin-left: -25px;
					}

					.form-control {
						color: #00b3ee;
						width: $navbar-side-small-width - 10px;
					}

					.btn {
						width: $navbar-side-small-width - 10px;
					}

					.open .dropdown-menu{
						&.popup-dropdown {
							position: absolute;
							min-width: $navbar-side-width;
							top: 0;
							left: $navbar-side-small-width - 5px;
							background-color: $navbar-default-bg;
							border: 1px solid $navbar-default-border;
							border-radius: 4px;
							box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

							.divider {
								width: $navbar-side-width - 2px;
							}

							li > a {
								color: $navbar-default-link-color;
								width: auto;

								&:hover {
									color: $navbar-default-link-hover-color;
									background-color: $navbar-default-link-hover-bg;
								}
							}
						}
					}

					.divider {
						width: $navbar-side-small-width - 2px;
					}

					+ .content-wrapper {
						margin-left: $navbar-side-small-width;
						padding-left: 5px;
					}
				}

			}

			&.collapsing {
				width: $navbar-side-small-width / 2;


				.hide-small-nav {
					display: none;
				}

				.hide-big-nav {
					width: ($navbar-side-small-width) / 2 - 25px;
					display: block;
					padding: 15px 7.5px;

					.caret {
						display: none;
					}
				}

				.navbar-nav {
					width: ($navbar-side-small-width) / 2;
					display: block;

					li {
						padding: 0;
					}
				}

				.navbar-header{
					display: block;
				}

				.navbar-form{
					display: block;

					.form-control {
						transition-duration: 0.4s;
					}
				}

				+ .content-wrapper {
					margin-left: ($navbar-side-small-width) / 2;
					padding-left: 2.5px;
				}
			}

		}
	}
}
