$navbar-side-width: 250px;
$navbar-side-small-width: 80px;
$navbar-side-height: 100vh!important;
$heading-gradient: linear-gradient(to left, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#222 100%);
$heading-color: #b4ddb4;