<button type="button" class="btn btn-danger btn-lg" style="margin: 10px" onclick="errorMSG()">Show simple error message</button>
<script src="../assets/javascripts/data/alerts/sweetalerts/errorMsg.js"></script>