<button type="button" class="btn btn-success btn-lg" style="margin: 10px" onclick="successMsg()">Show simple success message</button>
<script src="../assets/javascripts/data/alerts/sweetalerts/successMsg.js"></script>