<button type="button" class="btn btn-default btn-lg" style="margin: 10px" onclick="timedModal()">Timed alert</button>
<script src="../assets/javascripts/data/alerts/sweetalerts/timedModal.js"></script>