<button type="button" class="btn btn-danger btn-lg" style="margin: 10px" onclick="warningWithFunction()">Warning with function on confirm</button>
<script src="../assets/javascripts/data/alerts/sweetalerts/warningMsgWithFunction.js"></script>