{{>partials/header}}
{{>partials/navbar}}
<div class="content-wrapper">
    <div class="container-fluid">
        {{>partials/heading}}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{>charts/chartjs/linechart}}
            </div>
            <div class="col-xs-12 col-md-6">
                {{>charts/chartjs/barchart}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{>charts/chartjs/radarchart}}
            </div>
            <div class="col-xs-12 col-md-6">
                {{>charts/chartjs/polararea}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{>charts/chartjs/donutChart}}
            </div>
            <div class="col-xs-12 col-md-6">
                {{>charts/chartjs/pieChart}}
            </div>
        </div>
    </div>
</div>
{{>partials/loading}}
{{>partials/footer}}
