{{>partials/header}}
{{>partials/navbar}}
<div class="content-wrapper">
    <div class="container-fluid">
        {{>partials/heading}}
        <div class="row">
            <div class="panel panel-default col-xs-12 col-md-6">
                {{>tables/static/basictable}}
            </div>
            <div class="panel panel-default col-xs-12 col-md-6">
                {{>tables/static/borderdtable}}
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default col-xs-12 col-md-6">
                {{>tables/static/coloredtable}}
            </div>
            <div class="panel panel-default col-xs-12 col-md-6">
                {{>tables/static/stripedrows}}
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default col-xs-12 col-md-6">
                {{>tables/static/hoverrows}}
            </div>
            <div class="panel panel-default col-xs-12 col-md-6">
                {{>tables/static/combinedtable}}
            </div>
        </div>
    </div>
</div>
{{>partials/loading}}
{{>partials/footer}}