{{>partials/header}}
{{>partials/navbar}}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{>tables/tablesaw/stackonly}}
            </div>
            <div class="col-xs-12 col-md-6">
                {{>tables/tablesaw/sortable}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{>tables/tablesaw/toggle}}
            </div>
            <div class="col-xs-12 col-md-6">
                {{>tables/tablesaw/swipe}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{>tables/tablesaw/modeswitch}}
            </div>
            <div class="col-xs-12 col-md-6">
                {{>tables/tablesaw/kitchensink}}
            </div>
        </div>
    </div>
</div>
<script src="../assets/javascripts/data/tables/tablesaw/init.js"></script>

{{>partials/footer}}