<button type="button" class="btn btn-primary btn-lg" style="margin: 10px" onclick="basicMSg()">Show basic Amaran message</button>
<script src="../assets/javascripts/data/alerts/amaran/basicMsg.js"></script>