<button type="button" class="btn btn-danger btn-lg" style="margin: 10px" onclick="cssAnimation()">Show massage with Animate effects</button>
<script src="../assets/javascripts/data/alerts/amaran/cssAnimation.js"></script>