<div class="panel panel-default">
    <div class="panel-heading">Bullet Graph</div>
    <div class="panel-body">
        <span class="sparklines" sparkType="bullet"><!-- 6,10,3 --></span>
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Performance</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td><span class="sparklines" sparkType="bullet" sparkTargetColor="pink"><!-- 10,12,4,6,2 --></span>
                    </td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td><span class="sparklines" sparkType="bullet" sparkTargetColor="pink" sparkperformanceColor="brown"><!-- 8,10,4 --></span></td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td><span class="sparklines" sparkType="bullet" sparkWidth="40px"><!-- 6,10,3 --></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>