<div class="panel panel-default">
    <div class="panel-heading">Discrete Chart</div>
    <div class="panel-body">
        <span class="sparklines" sparkType="discrete"><!-- 1,10,4,-4,5,1 --></span>
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Performance</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td><span class="sparklines" sparkType="discrete" sparkHeight="50px" sparkLineColor="red"><!-- 1,10,4,-4,5,1 --></span>
                    </td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td><span class="sparklines" sparkType="discrete" sparkHeight="50px" sparkThresholdValue="5" sparkThresholdColor="red"><!-- 1,7,4,0,2,5 --></span></td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td><span class="sparklines" sparkType="discrete" sparkHeight="50px"><!-- 2,3,5,1,10 --></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>