<div class="panel panel-default">
    <div class="panel-heading">Line Chart</div>
    <div class="panel-body">
        <span class="sparklines" sparkType="line"><!-- 1,10,4,-4,5,1 --></span>
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Performance</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td><span class="sparklines" sparkType="line" sparkHeight="50px" sparkWidth="50px" sparklineColor="red" sparkfillColor="green" sparkMaxSpotColor="yellow" sparkSpotRadius="3"><!-- 1,10,4,-4,5,1 --></span>
                    </td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td><span class="sparklines" sparkType="line" sparkHeight="50px" sparkWidth="50px" sparklineColor="red" sparkfillColor="green" sparkMinSpotColor="pink" sparkSpotRadius="3"><!-- 1,7,4,0,2,5 --></span></td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td><span class="sparklines" sparkType="line" sparkHeight="50px" sparkWidth="50px" sparklineColor="red" sparkfillColor="green"><!-- 15,2,3,5,1,10 --></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>