<div class="panel panel-default">
    <div class="panel-heading">Pie Chart</div>
    <div class="panel-body">
        <span class="sparklines" sparkType="pie"><!-- 3,2,1 --></span>
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Results</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td><span class="sparklines" sparkType="pie" sparkHeight="50px" sparkWidth="50px" SparksliceColors="[red,black,yellow]"><!-- 5,5,5 --></span></td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td><span class="sparklines" sparkType="pie" sparkHeight="50px" sparkWidth="50px" SparksliceColors="[red,green,yellow]" sparkBorderWidth="2"><!-- 4,10,5 --></span></td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td><span class="sparklines" sparkType="pie" sparkHeight="50px" sparkWidth="50px" SparksliceColors="[red,black,yellow]" sparkBorderWidth="3" sparkBorderColor="green"><!-- 5,10,6 --></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>