<div class="panel panel-default">
    <div class="panel-heading">Tri-State Chart</div>
    <div class="panel-body">
        <span class="sparklines" sparkType="tristate"><!-- 0,1,0,-1,1 --></span>
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Results</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td><span class="sparklines" sparkType="tristate" sparkHeight="50px" sparkWidth="50px" sparkPosBarColor="green" sparkNegegBarColor="red" sparkZeroBarColor="grey"><!-- 0,0,0,-1,-1 --></span></td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td><span class="sparklines" sparkType="tristate" sparkHeight="50px" sparkWidth="50px" sparkPosBarColor="green" sparkNegegBarColor="red" sparkZeroBarColor="grey"><!-- -1,1,1,-1,1 --></span></td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td><span class="sparklines" sparkType="tristate" sparkHeight="50px" sparkWidth="50px" sparkPosBarColor="green" sparkNegegBarColor="red" sparkZeroBarColor="grey"><!-- 0,-1,0,1,-1 --></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>